In [1]:
import pandas as pd
from lifelines import KaplanMeierFitter

In [2]:
data = pd.read_csv('data/SurvivalData.csv')
data.head()

,inst,time,status,age,sex,ph.ecog,ph.karno,pat.karno,meal.cal,wt.loss
0,3.0,306,2,74,1,1.0,90.0,100.0,1175.0,NaN
1,3.0,455,2,68,1,0.0,90.0,90.0,1225.0,15.0
2,3.0,1010,1,56,1,0.0,90.0,90.0,NaN,15.0
3,5.0,210,2,57,1,1.0,90.0,60.0,1150.0,11.0
4,1.0,883,2,60,1,0.0,100.0,90.0,NaN,0.0

In [3]:
data.info()

# inst: código da instituição
# time: tempo de sobrevivência em dias
# status: status de censura: 1 = censurado, 2 = morto
# age: idade em anos
# sex: 1=masculino, 2=feminino
# ph.ecog: Pontuação de desempenho ECOG conforme avaliado pelo médico. 0 = assintomático, 1 = sintomático, mas completamente deambulador, 2 = na cama <50% do dia, 3 = na cama> 50% do dia, mas não confinado à cama, 4 = confinado à cama
# ph.karno: Pontuação de desempenho de Karnofsky (ruim = 0-bom = 100) avaliado pelo médico
# pat.karno: Pontuação de desempenho de Karnofsky conforme avaliado pelo paciente
# meal.cal: Calorias consumidas nas refeições
# wt.loss: Perda de peso nos últimos seis meses

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   inst       227 non-null    float64
 1   time       228 non-null    int64
 2   status     228 non-null    int64
 3   age        228 non-null    int64
 4   sex        228 non-null    int64
 5   ph.ecog    227 non-null    float64
 6   ph.karno   227 non-null    float64
 7   pat.karno  225 non-null    float64
 8   meal.cal   181 non-null    float64
 9   wt.loss    214 non-null    float64
dtypes: float64(6), int64(4)
memory usage: 17.9 KB