In [5]:
import pyreadr

result = pyreadr.read_r('data/DebTrivedi.rda')
keys = list(result.keys())  # Converte as chaves em uma lista

df = result[keys[0]]
df.head()

,ofp,ofnp,opp,opnp,emer,hosp,health,numchron,adldiff,region,age,black,gender,married,school,faminc,employed,privins,medicaid
rownames,,,,,,,,,,,,,,,,,,,
1,5,0,0,0,0,1,average,2,no,other,6.9,yes,male,yes,6,2.8810,yes,yes,no
2,1,0,2,0,2,0,average,2,no,other,7.4,no,female,yes,10,2.7478,no,yes,no
3,13,0,0,0,3,3,poor,4,yes,other,6.6,yes,female,no,10,0.6532,no,no,yes
4,16,0,5,0,1,1,poor,2,yes,other,7.6,no,male,yes,3,0.6588,no,yes,no
5,3,0,0,0,0,0,average,2,yes,other,7.9,no,female,yes,6,0.6588,no,yes,no